name: Build and Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'npm'
    - name: Checkout repository
      run: npm install
    - name: Starting FE &
      run: npm run start
    - name: Starting BE
      run: npm run server &
    - name: Starting tests  
      run: npm test
